@import '../../settings/include-media.scss';

.login-page {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 70px;

  &__inner {
    width: 100%;
    max-width: 1440px;
    font-size: 40px;
    padding: 0 16px;

    @include media('>=md') {
      padding: 0 24px;
    }
  }
}