@import '../../settings/include-media.scss';

.register-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;

  &__inner {
    width: 100%;
    max-width: 1440px;
    font-size: 40px;
    padding: 0 16px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    @include media('>=md') {
      padding: 0 24px;
      gap: 24px;
      grid-template-columns: 1fr 2fr;
    }

    .register-form {
      height: 100%;
      justify-content: center;
      display: flex;
      flex-direction: column;
      gap: 24px;

      .to-register {
        font-size: 24px;
        color: #33302D;
        text-align: center;

        &:visited {
          color: #33302D;
        }
      }

      label {
        font-size: 24px;
      }

      input {
        border-radius: 8px;
        background-color: white;
        color: #33302D;
        text-align: center;
        outline: none;
        font-size: 16px;
        min-height: 50px;
        border: 1px solid #33302D;

        @include media('>=md') {
          font-size: 20px;
        }
      }

      button {
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        width: 100%;
        background-color: #33302D;
        font-size: 16px;
        text-transform: uppercase;
        outline: none;
        border: 1px solid #33302D;
        transition: all 0.3s ease-in-out;
        min-height: 50px;

        @include media('>=md') {
          font-size: 20px;
        }

        &:hover {
          color: #33302D;
          background-color: white;
          cursor: pointer;
        }
      }
    }

    .image-holder {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}